.CreateAccount {
    display: grid;
    place-content: center;

    &__button {
        height: 50px;
        width: 100%;
        border-radius: 8px;
        border: none;
        margin-bottom: 12px;
        background-color: var(--hospital-green);
        font-size: var(--md);
        color: var(--white);
        font-weight: bold;
        cursor: pointer;
    }
}

.CreateAccount__form-container {
    display: flex;
    flex-direction: column;
}

.CreateAccount__title {
    margin: 40px 0;
    justify-self: center;
}

.CreateAccount__label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.CreateAccount__input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}