.Navbar {

    &__button {
        height: 28px;
        margin-left: 24px;
        border: none;
        background: none;
        cursor: pointer;

        & i {
            font-size: 28px;
            color: black;
        }
    }

    &__container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100vh;
        width: 150px;
        background: white;
        transform: translateX(-250px);
    }

    &--open .Navbar__container {
        transform: translateX(0);

    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(2px);
        visibility: hidden;
    }

    &--open .Navbar__overlay {
        visibility: visible;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__item {
        margin: 16px;
    }

    &__link {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid transparent;
        color: var(--black);
        text-decoration: none;

        &:hover {
            color: var(--hospital-green);
            border: 1px solid var(--hospital-green);
        }
    }
}